[user]
	name = Breno Calazans
	email = brenocalazans@gmail.com
[credential]
	helper = cache --timeout=3600
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold
[color "branch"]
	remote = yellow
[alias]
	g = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(yellow)%h%C(reset) %s%C(reset) %C(dim white)<%an>%C(reset) %C(bold blue)%ar%C(reset)%C(bold yellow)%d%C(reset)'
[push]
	default = current
[diff]
	tool = code
	keepBackup = false
[difftool]
	prompt = false
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	keepBackup = false
[mergetool]
	prompt = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "code"]
	trustExitCode = true
	cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[pull]
	rebase = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
